.c-sideMenu {
  text-align: center;
  margin-top: 10px;
  ul {
    text-align: center;
    list-style: none;
    margin: 0;
  }
  .c-sideMenu--item {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    cursor: pointer;
    &:hover,
    &__active {
      background: $sideMenu__item--active;
    }
    a {
      margin-left: 30%;
      position: relative;
      color: $white;
      text-decoration: none;
      display: block;
      font-family: "ProximaNova-Regular";
      text-transform: uppercase;
      font-size: 0.8em;
    }
    a:before {
      font-family: FontAwesome;
      position: absolute;
      right: 100%;
      //bottom: 2px;
      margin-right: 10px;
      color: $white;
      font-size: 1em;
    }
    &__dashboard a:before {
      content: "\f0e4";
    }
    &__driver a:before {
      content: "\f1b9";
    }
    &__report a:before {
      content: "\f080";
    }
    &__notification a:before {
      content: "\f0f3";
    }
  }
}