html {
    &.p-resetPassword {
    height: 100%;
    body {
      height: 100%;
      background: url("../images/bg.jpg") no-repeat center bottom fixed !important;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      @include flex;
      @include flex-align(center, middle);
    }
  }
}

.p-resetPassword {
  &-wrapper {
    @include flex-grid-size(4);
    padding: 20px;
  }
  &-title {
    color: $white;
  }
}